* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  font-size: 1.6rem;
  font-family: "Reddit Mono", monospace;
}
/* Variables */
:root {
  --background-01: #6cc8a4;
  --background-02: #7e7e7e;

  --toast-background-01: #fab40a;
  --toast-background-02: #ffbf28;
  --toast-background-03: #a57847;
  --toast-border-01: #59392c;
  --toast-border-02: #7a5330;

  --btn-background: #434343;
  --btn-hover-background: #808080;

  --content-01: #ffffff;
  --content-02: #282e28;

  --color-01: #1b2a9fd8;
  --color-02: #1a5431;
  --color-03: #5ec471;
  --senior: #b88204;
  --senior-hover: #eba708;
  --manager: #b80404;
  --manager-hover: #ff4545;
  --color-05: #434343;
  --color-06: #8a160d;
}
/*========== Common ==========*/
a {
  text-decoration: none;
}

.container {
  padding: 1rem 2rem;
}

/* Buttons */
.btn--primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;

  color: var(--content-01);
  background-color: var(--btn-background);

  font-family: "Arcade Normal";
  text-align: center;

  transition: ease-in-out 150ms;
}

.btn--primary:hover {
  background-color: var(--btn-hover-background);
  transform: scale(1.02);
}

.btn--lg {
  padding: 2rem;
  font-size: 2rem;
}

.btn--md {
  padding: 1.6rem;
  font-size: 1.6rem;
}

.btn--sm {
  padding: 1.2rem;
  font-size: 1.2rem;
}

/* level button */
.senior-level {
  background-color: var(--senior);
}

.senior-level:hover {
  background-color: var(--senior-hover);
}

.manager-level {
  background-color: var(--manager);
}

.manager-level:hover {
  background-color: var(--manager-hover);
}

#level-label {
  height: fit-content;
  padding: 0.5rem;
  font-size: 1rem;
}

/* Option */
.option {
  display: flex;
  align-items: center;

  /* border-radius: 1.2rem; */
  padding: 0.8rem 1.6rem;
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;

  color: var(--content-02);
  background-color: var(--content-01);

  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.75;

  transition: ease-in-out 150ms;
}

.option:hover {
  color: var(--content-01);
  background-color: var(--background-02);
  box-shadow: -5px 0 0 0 white, 5px 0 0 0 white, 0 -5px 0 0 white,
    0 5px 0 0 white;
}

/*========== Screen ==========*/
.screen {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90rem;
  min-height: 100vh;
  padding: 2rem 2rem;
  margin: 0 auto;
  border: 5px solid black;
  background-color: var(--background-01);
  background: url(/assets/img/environment/01.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.screen--start {
  align-items: start;
}

.screen__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 0;
}

/* toast */
.toast {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 2rem;
  box-shadow: -10px 0 0 0 var(--toast-border-01),
    10px 0 0 0 var(--toast-border-01), 0 -10px 0 0 var(--toast-border-01),
    0 10px 0 0 var(--toast-border-01), inset -10px 0 0 0 var(--toast-border-02),
    inset 10px 0 0 0 var(--toast-border-02),
    inset 0 -10px 0 0 var(--toast-border-02),
    inset 0 10px 0 0 var(--toast-border-02);
  background-color: var(--toast-background-03);
}

.toast__heading {
  font-family: "Karmatic Arcade";
  font-size: 5rem;
  line-height: 1.25;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-align: center;
}

.toast__desc {
  font-family: "Arcade Normal";
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
}

/* start button */
#start-btn {
  margin-top: 3rem;
  color: var(--content-02);
  background-color: var(--toast-background-01);
}

.play-icon {
  width: 2rem;
}

/*========== Questions =========*/
.reload-icon {
  width: 1.6rem;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress-bar {
  width: 100%;
  height: 1.5rem;
  margin-top: 1rem;
  border: 2px solid black;
  border-radius: 1rem;

  background-color: #ccc;

  overflow: hidden;
}

.progress {
  width: 0%;
  height: 100%;
  border-radius: 1rem;
  background-color: var(--color-02);
  transition: ease-in-out 150ms;
}

.question-illustration {
  width: 25rem;
}

.question {
  display: flex;
  align-items: center;
  min-height: 10.1rem;
  padding: 1rem;
  margin-top: 1rem;

  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: var(--content-02);

  font-family: "Arcade Normal";
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  word-spacing: -0.16rem;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.option-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(8rem, 1fr));
  gap: 1.2rem;
  width: 100%;
  margin-top: 2rem;
}

.question-container .btn--primary {
  margin-top: 2rem;
}

/*========== Result ==========*/
.result__heading {
  font-family: "Arcade Normal";
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 800;
  letter-spacing: 0.5rem;
  text-align: center;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.character-card {
  margin-top: 1.2rem;
}

.character-illustration {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 20rem;

  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;

  background: url(../img/environment/air-background.jpg) no-repeat;
  background-size: cover;
  background-position: 0% 55%;

  filter: brightness(1);
  overflow: hidden;
}

.character-img {
  width: 85%;
  /* filter: drop-shadow(10px 0px 10px var(--color-01))
    drop-shadow(-10px 0px 10px var(--color-01))
    drop-shadow(0px 10px 10px var(--color-01))
    drop-shadow(0px -10px 10px var(--color-01)); */
  cursor: pointer;
  transition: ease-in-out 150ms;
}

.character-img:hover {
  transform: scale(1.1);
}

.character-name,
.journey-heading,
.question-heading {
  font-family: "Arcade Normal";
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-align: left;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.character-card__row {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.divider {
  height: 0.5rem;
  width: 100%;
  background-color: black;
  margin-top: 0.8rem;
}

/* Stats */
.stats-heading {
  font-family: "Arcade Normal";
  font-size: 2.2rem;
  font-weight: 900;
  margin-top: 2rem;
}

.character-stats {
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.stats {
  display: grid;
  grid-template-rows: repeat(2, 3rem);
  margin-top: 1rem;
  margin-left: 2rem;
}

.stat-item {
  display: grid;
  grid-template-columns: 16rem 1fr;
  gap: 1rem;
  align-items: center;
}

.stat-name {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.stat-bar {
  position: relative;
  height: 2rem;
  background-color: #ccc;
  border: 2px solid white;
  border-radius: 1rem;
}

.stat-bar::before {
  position: absolute;
  top: -0.15rem;
  left: -1.5rem;
  content: ":";
  font-size: 2.2rem;
  font-weight: 800;
}

.stat-score {
  height: 100%;
  border-radius: 1rem;
  background-color: var(--color-02);
  transition: ease-in-out 150ms;
}

#stat-01 {
  width: 60%;
}

#stat-02 {
  width: 20%;
}

/* Character desc */
.character-desc {
  padding: 1.2rem;
  margin-top: 2rem;
  height: 15rem;
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;
  background-color: var(--content-01);

  text-align: justify;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.03rem;

  overflow: auto;
}

.character-desc ul {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  list-style: inside disc;
  gap: 1rem;
}

.bold {
  font-weight: 900;
  text-transform: uppercase;
}

/* Result action */
.actions {
  display: grid;
  grid-template-columns: 20rem 1fr;
  column-gap: 5%;
  width: 100%;
  margin-top: 2rem;
}

#journey-btn {
  background-color: var(--toast-background-01);
  color: var(--content-02);
}

#journey-btn:hover {
  background-color: var(--toast-background-02);
}

/*========== Journey ==========*/
.journey-heading {
  margin-top: 0.4rem;
}

.card-list-layout {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin-top: 2rem;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.card input {
  position: relative;
  width: 100%;
  height: 30rem;
}
.card input::before,
.card input::after {
  position: absolute;
  top: 0;

  content: "";
  width: 100%;
  height: 30rem;
  filter: grayscale(100%);
  cursor: pointer;
  transition: ease-in-out 150ms;
}

.card input::before {
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;
  background: url(../img/environment/air-background.jpg) no-repeat;
}

.card input::after {
  background-position: 50% 50%;
  background-size: 60rem;
}

[id="intern-level"]::after {
  background: url(../img/character/eagle/intern-eagle.png) no-repeat;
}
[id="senior-level"]::after {
  background: url(../img/character/eagle/senior-eagle.png) no-repeat;
}
[id="manager-level"]::after {
  background: url(../img/character/eagle/manager-eagle.png) no-repeat;
}

.card input:hover::before,
.card input:checked::before {
  box-shadow: -5px 0 0 0 white, 5px 0 0 0 white, 0 -5px 0 0 white,
    0 5px 0 0 white;
}

.card input:checked::before,
.card input:checked::after,
.card input:checked + .label {
  filter: grayscale(0%);
}

.card:hover input::after {
  transform: scale(1.1);
}

.label {
  padding: 0.8rem 1.6rem;
  font-size: 1.2rem;
  filter: grayscale(100%);
  transition: ease-in-out 150ms;
}

.divider--journey {
  margin-top: 1.5rem;
}

.character-stats--journey {
  width: 100%;
  margin-top: 2rem;
}

#missions-btn {
  margin-top: 3rem;
  background-color: var(--toast-background-01);
  color: var(--content-02);
}

#missions-btn:hover {
  background-color: var(--toast-background-02);
}

/*========== Missions ==========*/
.question-heading {
  letter-spacing: -0.01rem;
}

.missions-list-layout {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(3, 1fr);
  gap: 2.5rem;
  margin-top: 3rem;
}

.missions-card,
.reward {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.missions-card {
  gap: 3rem;
}

.mission {
  display: grid;
  grid-template-columns: 10% 1fr 15%;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem 2.4rem;

  box-shadow: -5px 0 0 0 var(--toast-border-01),
    5px 0 0 0 var(--toast-border-01), 0 -5px 0 0 var(--toast-border-01),
    0 5px 0 0 var(--toast-border-01), inset -5px 0 0 0 var(--toast-border-02),
    inset 5px 0 0 0 var(--toast-border-02),
    inset 0 -5px 0 0 var(--toast-border-02),
    inset 0 5px 0 0 var(--toast-border-02);
  background-color: var(--toast-background-03);

  transition: ease-in-out 300ms;
}

.mission:hover {
  transform: scale(1.01);
}

.completed-mission:hover {
  transform: none;
}

.reward {
  flex-direction: column;
}

.reward__icon {
  width: 60%;
}

.reward__name {
  font-weight: 900;
}

.mission-content {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.35;
}

.right {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  height: 100%;
  align-items: center;
}

.metrics-bar {
  position: relative;
  height: 2.3rem;
  background-color: #ccc;
  border: 2px solid white;
  border-radius: 1rem;
  text-align: center;
}

.metrics-progress {
  width: 0%;
  height: 100%;
  border-radius: 1rem;
  background-color: var(--color-02);
  text-align: center;
  transition: ease-in-out 150ms;
}

.metrics-count {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.8rem;
  transform: translateX(-50%) translateY(-50%);
  color: var(--content-01);
  mix-blend-mode: difference;
}

.mission-type {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--color-01);
}

.mission--strength .mission-type {
  color: var(--color-01);
}

.mission--weakness .mission-type {
  color: var(--color-06);
}

.btn--mission {
  height: 100%;
  color: var(--content-01);
  background-color: var(--color-02);
  filter: grayscale(90%);
}

.btn--mission:hover {
  background-color: var(--color-02);
  transform: none;
}

.btn--mission--enable {
  filter: grayscale(0%);
}

.btn--mission--enable:hover {
  transform: scale(1.05);
}

.level {
  display: grid;
  grid-template-columns: 30rem 1fr;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  margin-top: 3rem;
}

.current-level {
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.level-bar {
  position: relative;
  height: 100%;
  background-color: #ccc;
  border: 2px solid white;
  border-radius: 1.25rem;
}

.level-score {
  height: 100%;
  border-radius: 1.25rem;
  background-color: var(--color-02);
  transition: ease-in-out 300ms;
}

.level-noti {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.8rem;
  transform: translateX(-50%) translateY(-50%);
  color: var(--content-01);
  mix-blend-mode: difference;
}

.tip {
  margin-top: 5rem;
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

@media (min-width: 320px) and (max-width: 480px) {
  .btn--primary {
    gap: 0.4rem;
  }

  .btn--lg {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .btn--md {
    padding: 1.6rem;
    font-size: 1.6rem;
  }

  .btn--sm {
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
  }

  .screen {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-position: 90% 0;
    background-size: 260%;
    margin: 0;
  }

  .toast {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 2rem;
    box-shadow: -7px 0 0 0 var(--toast-border-01),
      7px 0 0 0 var(--toast-border-01), 0 -7px 0 0 var(--toast-border-01),
      0 7px 0 0 var(--toast-border-01), inset -7px 0 0 0 var(--toast-border-02),
      inset 7px 0 0 0 var(--toast-border-02),
      inset 0 -7px 0 0 var(--toast-border-02),
      inset 0 7px 0 0 var(--toast-border-02);
    background-color: var(--toast-background-03);
  }

  .toast__heading {
    font-family: "Karmatic Arcade";
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: 0.5rem;
    text-align: center;
  }

  .toast__desc {
    font-family: "Arcade Normal";
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
  }

  #start-btn {
    margin-top: 2rem;
    color: var(--content-02);
    background-color: var(--toast-background-01);
    word-spacing: -0.5rem;
  }

  .question-illustration {
    width: 15rem;
  }

  .question {
    display: flex;
    align-items: center;
    min-height: 8rem;
    padding: 1rem;
    margin-top: 0.5rem;

    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: var(--content-02);

    font-family: "Arcade Normal";
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
    letter-spacing: -0.05rem;
    word-spacing: -0.16rem;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
      -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }

  .option {
    display: flex;
    align-items: center;

    padding: 0.8rem 1.6rem;
    box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
      0 5px 0 0 black;

    color: var(--content-02);
    background-color: var(--content-01);

    font-size: 1rem;
    font-weight: 900;
    line-height: 1.25;

    transition: ease-in-out 150ms;
  }

  .option:hover {
    color: var(--content-01);
    background-color: var(--background-02);
    box-shadow: -5px 0 0 0 white, 5px 0 0 0 white, 0 -5px 0 0 white,
      0 5px 0 0 white;
  }

  .option-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(4rem, 1fr));
    gap: 1.2rem;
    width: 100%;
    margin-top: 2rem;
  }

  #start-again-btn svg {
    width: 2em;
  }

  .result__heading {
  }
}
