* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  /* font-family: ; */
}

/*========== Common ==========*/
a {
  text-decoration: none;
}

/* Buttons */
.btn--primary {
  padding: 2rem;
  border-radius: 1.2rem;
  color: #fff;
  background-color: #3b463b;
  font-size: 2rem;
}

.btn--primary:hover {
  background-color: #1b201b;
}

/*========== Intro ==========*/
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70rem;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(252, 164, 0);
}

.toast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 50%;
  padding: 2rem;
  border-radius: 1.2rem;
  background-color: aqua;
}

.toast__headline {
  width: 52%;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.5rem;
}

.toast__heading {
  width: 80%;
  margin-top: 2rem;
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-align: center;
}

.toast__desc {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
}

.intro .btn--primary {
  margin-top: 2rem;
}
